.col {
    margin: 0 !important;
    padding: 0 !important;
}

.first {
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.last {
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
}