.section {
    text-align: center;
}

.title {
    font-family: "Cairo", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
}

.description {
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.projects {
    width: 100%;
    padding: 0 40vh;
}