.btn {
    position: relative;
    background-color: #3a3a3a;
    color: white;
    margin-top: 15px;
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    border-radius: 100px;
    font-size: .9rem;
    transition: all .2s;
    outline: none;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.icons {
    margin-top: 15px;
    padding: 10px;
    font-size: 1.7rem;
}

i {
    transition: all .2s;
}

i:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

i:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.facebook {
    color: #4267b2;
}

.twitter {
    color: rgba(29,161,242,1.00);
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.telegram {
    color: #5682a3;
}

.github {
    color: #24292e;
}

.name {
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: bold;
}

.profession {
    font-size: 1rem;
    margin-top: 5px;
    font-weight: bold;
}

.landing {
    margin-top: 10vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.profileImg {
    border-radius: 100px;
    width: 175px;
    height: 175px;
}